<html>
   <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Result</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/images/icon/favicon.ico"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/metisMenu.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <!-- Start datatable css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css"
    />
    <!-- style css -->
    <link rel="stylesheet" href="/css/typography.css" />
    <link rel="stylesheet" href="/css/default-css.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <style>
        .bg-blue{
            background-color: #62a1cd;
        }
        .bg-light-blue{
            background-color: #a3c3dc;
        }
        .clock-block{
            border: 1px solid black;
            width: 100px;
            background: black;
            color: red;
            font-size: 29px;
        }
        .number-plate{
            border: 1px solid black;
            background: #fff;
            font-weight: 900;
            padding: 34px;
            text-align: center;
        }
        .winning-number{
            font-size: 10rem;
            padding: 46px;
            border: 1px solid black;
            border-radius: 63%;
        }
        .sub-box{
            border: 1px solid white;
            border-radius: 25px;
            width: 100%;
        }
        .sub-box-padding{
            padding-left: 56px;
            padding-top: 6px;
            padding-bottom: 6px;
        }
        
    </style>
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div class="container border mt-4 bg-light-blue">
        <div class="row" style="height: 3rem;">
            <div class="col-md-4"></div>
            <div class="col-md-8"></div>
        </div>
        <div class="row border bg-blue">
            <div class="col-md-12 text-center text-light">Navigation Menu</div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8">
                <div class="container bg-blue border">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-light">Today Result</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="clock-block">
                                <span>03:50</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-lg-6">
                            <div class="number-plate">
                                <span class="winning-number">2</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row bg-blue sub-box">
                    <div class="container sub-box-padding">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-light">Today's Previous Results</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-light">10:30 AM</div>
                            <div class="col-lg-6 text-light">Lucky No 87</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-light">11:00 AM</div>
                            <div class="col-lg-6 text-light">Lucky No 34</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-light">11:30 AM</div>
                            <div class="col-lg-6 text-light">Lucky No 02</div>
                        </div>
                    </div>
                </div>
                <div class="row bg-blue sub-box mt-2">
                    <div class="container sub-box-padding">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-light">Notice Board</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-light">...............</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-light">...............</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-light">...............</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>